<div class="container" style="margin-top:180px">
    <div class="row">

        <div class="col-md-4 offset-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <button type="button" (click)="login()" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>